Esta red social ambiciona con englobar a toda la comunidad universitaria de la UASLP en un solo espacio, donde no solo los estudiantes del nivel de licenciatura podrán acceder, si no, también la comunidad estudiantil de posgrados. 
Todos somos uno, y uno es Unichat.
